<div class="container padded text-center">
  <h2>Our team has <%= ["anne", "seb", "romain"].size %> members</h2>

  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.jpg", class: "avatar-large" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
